/* INDEX PAGE


*/

#main-title {

    text-align: center;

}

#main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

#recipe-list {

    display: table;
    margin: 0 auto;
}

#main-body {
    background-color: rgb(109, 109, 189);
}


/* BUTTER CHICKEN 


*/

#butter-body {
    background-color: rgb(190, 175, 90);
    text-align: center;
}

#main-list {

    display: table;
    margin: 0 auto;
    list-style: none
}

li {
    text-align: justify ;
}